{
    "name": "zendframework/skeleton-application",
    "description": "Skeleton Application for ZF2",
    "license": "BSD-3-Clause",
    "keywords": [
        "framework",
        "zf2"
    ],
    "homepage": "http://framework.zend.com/",
	"minimum-stability": "alpha",
    "repositories": [
        {
            "type": "composer",
            "url": "http://packages.zendframework.com/"
        }
    ],
    "require": {
        "php": ">=5.3.3",
        "zendframework/zendframework": "2.*",
        "zendframework/zendservice-recaptcha": "2.*",
        "doctrine/common": ">=2.1",
        "doctrine/doctrine-orm-module": "0.*"
    },
    "autoload": {
        "psr-0": {
            "CsnBase\\": "vendor/coolcsn/csn-base/src/"
        }
    }
}