html, body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	background: #300922;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: 200;
	color: #454545;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: 300;
	font-family: 'Oswald', sans-serif;
	color: #221D1D;
}

h2 {
	font-size: 2.5em;
}

p, ol, ul {
	margin-top: 0px;
}

p {
	line-height: 200%;
}

strong {
}

a {
	color: #BA0E8C;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

img.border {
}

img.alignleft {
	float: left;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

hr {
	display: none;
}

/** WRAPPER */

#wrapper {
	width: 1200px;
	margin: 0px auto;
	padding: 0px 0px 0px 0px;
	background: #FFFFFF;
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,.2);
}

.container {
	width: 980px;
	margin: 0px auto;
}

.clearfix {
	clear: both;
}

/** HEADER */

#header {
}

/* Logo */

#logo {
	width: 960px;
	height: 150px;
	margin: 0px auto 30px auto;
	color: #000000;
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
}

#logo h1 {
	line-height: 100px;
	letter-spacing: -1px;
	text-align: center;
	text-transform: lowercase;
	font-size: 5em;
	color: #1F1F1F;
}

#logo h1 span {
	color: #1F1F1F;
}

#logo p {
	text-align: center;
	font-size: 16px;
	color: #595959;
}

#logo p a {
	color: #595959;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #1F1F1F;
}

/** MENU */

#menu {
	overflow: hidden;
	width: 1200px;
	height: 50px;
	padding-top: 20px;
	background: #6C0A4C;
	font-size: 20px;
	color: #000000;
}

#menu ul {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
}

#menu li {
	display: inline-block;
}

#menu a {
	display: block;
	padding: 5px 40px 5px 40px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	font-weight: 200;
	color: #FFFFFF;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
	text-decoration: none;
}

#menu .current_page_item a {
	border-radius: 5px;
	background: #C60F97;
	color: #FFFFFF;
}

#menu .last {
	border-right: none;
}

/** PAGE */

#page {
}

/** CONTENT */

#content {
}

/** SIDEBAR */

#sidebar {
}

/* Footer */

#footer {
	overflow: hidden;
	width: 1000px;
	height: 200px;
	margin: 0 auto;
	padding: 40px 0 15px 0;
}

#footer p {
	margin: 0;
	padding-top: 20px;
	line-height: normal;
	text-align: center;
	text-transform: uppercase;
	color: #990C73;
}

#footer a {
	color: #990C73;
}

/* Footer Content */

#footer-content {
	overflow: hidden;
	width: 1100px;
	padding: 50px;
	background: #ECECEC;
	text-shadow: 1px 1px 0px #FFFFFF;
	color: #666666;
}

#footer-content h2 {
	padding: 0px 0px 30px 0px;
	text-transform: uppercase;
	font-size: 24px;
}

#footer-content #fbox1 {
	float: left;
	width: 600px;
	margin-right: 30px;
}

#footer-content #fbox2 {
	float: left;
	width: 220px;
}

#footer-content #fbox3 {
	float: right;
	width: 220px;
}

/* Welcome */


#welcome {
	width: 1100px;
	margin: 0px auto;
	padding: 30px 50px;
}

#welcome .content {
	padding: 0px 0px 40px 0px;
	border-bottom: 1px solid #D4D4D4;
}

#welcome h2 {
	padding: 0px 0px 20px 0px;
}

#welcome h2 a {
	text-decoration: none;
	color: #000000;
}


/* Three Columns */

#three-columns {
	overflow: hidden;
	width: 1100px;
	margin: 0px auto;
	padding: 50px 50px 30px 50px;
}

#three-columns .content {
	overflow: hidden;
	padding: 0px 0px 50px 0px;
	border-bottom: 1px solid #D4D4D4;
}

#three-columns h2 {
	padding: 0px 0px 20px 0px;
	color: #000000;
}

#three-columns #column1 {
	float: left;
	width: 430px;
	margin-right: 40px;
}

#three-columns #column2 {
	float: left;
	width: 290px;
}

#three-columns #column3 {
	float: right;
	width: 300px;
}

/* Two Columns */

#two-columns {
	overflow: hidden;
	width: 1100px;
	margin: 0px auto;
	padding: 40px 50px 50px 50px;
}

#two-columns h2 {
	padding: 0px 0px 20px 0px;
	color: #000000;
}

#two-columns #col1 {
	float: right;
	width: 740px;
}

#two-columns #col2 {
	float: left;
	width: 320px;
}


/* List Style 1 */

.list-style1 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.list-style1 li {
	padding: 20px 0px 20px 0px;
	border-top: 1px solid #D4D4D4;
}

.list-style1 .date {
	font-weight: bold;
	color: #212121;
}

.list-style1 img {
	float: left;
	margin-right: 25px;
}

.list-style1 .first {
	padding-top: 0px;
	border-top: none;
}


/* List Style 2 */

.list-style2 {
	margin: 0px;
	padding: 0px 0px 20px 0px;
	list-style: none;
}

.list-style2 li {
	padding: 10px 0px 10px 0px;
	border-top: 1px solid #D4D4D4;
}


.list-style2 .first {
	padding-top: 0px;
	border-top: none;
}

/* List Style 1 */

.link-style {
	display: inline-block;
	margin-top: 10px;
	padding: 5px 15px;
	background: #BA0E8C;
	border-radius: 5px;
	letter-spacing: 1px;
	text-decoration: none;
	text-shadow: 1px 0px 1px #5C1111;
	text-transform: uppercase;
	color: #FFFFFF;
}










