<?php
return array(
    'doctrine' => array(
        'connection' => array(
            // default connection name
            'orm_default' => array(
                'driverClass' => 'Doctrine\DBAL\Driver\PDOMySql\Driver',
                'params' => array(
                    'host'     => 'localhost',
                    'port'     => '3306', // default 3306 find and change in H:\xampp\mysql\bin\my.ini
                    'user'     => 'root',
                    'password' => 'password',
                    'dbname'   => 'db',
					'charset' => 'utf8', // extra
					'driverOptions' => array(
							1002=>'SET NAMES utf8'
					)
                )
            )
        )
    ),
);