<?php
$services_json = json_decode(getenv("VCAP_SERVICES"),true);
$mysql_config = $services_json["mysql-5.1"][0]["credentials"];
return array(
    'doctrine' => array(
        'connection' => array(
            // default connection name
            'orm_default' => array(
                'driverClass' => 'Doctrine\DBAL\Driver\PDOMySql\Driver',
                'params' => array(
                    'host'     => $mysql_config["hostname"],
                    'port'     => $mysql_config["port"],
                    'user'     => $mysql_config["username"],
                    'password' => $mysql_config["password"],
                    'dbname'   => $mysql_config["name"],
					'charset' => 'utf8', // extra
					'driverOptions' => array(
							1002=>'SET NAMES utf8'
					)
                )
            )
        )
    ),
);